body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
body {
  background-color: antiquewhite;
}
  
a {
  text-decoration: none;
  color: black;
}
  
.App-header { 
  padding-left: 10%;
  padding-right: 10%; 
  display: flex;
  height: 100%;
  background-color: white;  
}
  
.inner-header {
  width: 100%;
}
  
main {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
  
.personalCard {
  border-radius: 15px;
  float: right;
  background-color: white;
  margin-top: 2%;
  width: 30%;
  text-align: center;
  word-wrap: break-word;
  height: 100%;
}
  
.personalCard img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.personalCard a:hover {
  text-decoration: underline;
  cursor: pointer;
}
  
.feed {
  width: 70%;
  margin-top: 2%;
  margin-right: 3%;
  border-radius: 15px;
  background-color: white;
  padding: 2%;
}
  
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 5%;
}
  
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3%;
}
  
.card-body h4 {
  margin-top: 0%;
}
  
.card-body p {
  font-size: 13px;
  margin: 0 0 5%;
}
  
.user {
  display: flex;
  width: 100%;
}
  
.user img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 2%;
}
  
.user-info h5 {
  margin: 0;
}
  
.user-info small {
  color: #545d7a;
}

.profile {
  display: flex;
  padding-left: 10%;
}


.profileNav {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin-top: 2%;
  width: 88.75%;
  word-wrap: break-word;
  height: 100%;
}
  
.profileNav img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.profileOptions {
  margin-top: 5%;
}

.profileOptions button {
  background-color: white;
  border: 1px solid #555555;
  border-radius: 5px;
  width: 40%;
  margin-right: 5%;
}

.description {
  margin-top: 15%;
  width: 90%;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

div.text {

    font-family: 'Press Start 2P';
    color: #FFFFFF;
    text-align: center;
}

.errorBody {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23dddcdd' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}

section.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    height: 100vh;
}

section.notFound img {
    width: 90%;
}

section.notFound h1 {
    margin-top: -20%;
    color: red;
    font-size: 100px;
}

section.notFound h2 {
    font-size: 50px;
}

section.notFound h1, h2, h3 {
    margin-bottom: 40px;
}

div.text {
    height: 50vh;
}

div.text a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

div.text a:hover {
    color: red;
    text-decoration: underline; 
}

@media only screen and (max-width: 768px) {
    section.notFound {
        flex-direction: column;
        justify-content: space-around;
    }
    section.notFound div.img img {
        width: 70vw;
        height: auto;
    }
    section.notFound h1 {
        font-size: 50px;
    }
    section.notFound h2 {
        font-size: 25px;
    }
    div.text a:active {
    color: red;
    text-decoration: underline; 
  }
}