body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
body {
  background-color: #faebd7;
}
  
a {
  text-decoration: none;
  color: black;
}
  
h1 {
  margin: 0;
}

.login {
  background-color: white;
  height: fit-content;
  margin-top: 10%;
  padding: 2%;
  border-radius: 15px;
}


.login  input{
  width:100%;
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}

.login input:focus{
  border-color:rgb(218, 218, 218);
  box-shadow:0 0 8px 0 rgb(218, 218, 218);
}

.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #6277f1;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: max-content;
}

.login button:disabled {
  cursor: default;
}

.login button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


.registration  input, .resetPassword input{
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}

.registration input:focus{
  border-color:rgb(218, 218, 218);
  box-shadow:0 0 8px 0 rgb(218, 218, 218);
}

.registration button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #6277f1;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.registration button:disabled {
  cursor: default;
}

.registration button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.App-header { 
  padding-left: 10%;
  padding-right: 10%; 
  display: flex;
  height: 100%;
  background-color: white;  
}
  
.inner-header {
  width: 100%;
  display: flex;
}
  
.header-search {
  width: 28%;
  position: sticky;
  left: 100%;
  z-index: 1;
}

.search-bar {
  float: right;
  padding: 6px;
  border: 2px solid #d7e6fa;
  border-radius: 10px;
  font-size: 17px;
  width: 95%;
}

main {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
  
.personalCard {
  border-radius: 15px;
  background-color: white;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  word-wrap: break-word;

}
  
.personalCard img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.personalCard a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.publishButton {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 15px;
  background-color: #d7e6fa;
  border: none;
  width: 30%;
  height: 50px;
}

.publishButton:hover{
  text-decoration: underline;
}

.addPostButton {
  width: 100%;
  padding-top: 7%;
  padding-bottom: 7%;
  margin-top: 5%;
  border-radius: 15px;
  background-color: #d7e6fa;
  border: none;
}

.addPostButton:hover{
  text-decoration: underline;
}
  
.feed {
  width: 70%;
  margin-top: 2%;
  margin-right: 3%;
  border-radius: 15px;
  background-color: white;
  padding: 2%;
}
  
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 5%;
}
  
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3%;
}
  
.card-body h4 {
  margin-top: 0%;
}
  
.card-body p {
  font-size: 13px;
  margin: 0 0 5%;
}
  
.user {
  display: flex;
  width: 100%;
}
  
.user img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-right: 2%;
}
  
.user-info h5 {
  margin: 0;
}

.userLink {
  width: 30%;
}

.userLink :hover h5{
  text-decoration: underline;
}
  
.user-info small {
  color: #545d7a;
}

.postButtons {
  align-self: center;
  margin-right: 5%;
  display: flex;
  width: 15%;
  justify-content: space-between;
}

.interactivePostButton {
  align-self: center;
  background-color: white;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  font-size: 16px;
  justify-content: center;
  padding: 5% 5%;
  width: 50px;
  height: 50px;
}

.interactivePostButton:hover,
.interactivePostButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.interactivePostButton:hover {
  transform: translateY(-1px);
}

.interactivePostButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.profile {
  display: flex;
  width: 100%;
}


.profileNav {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin-top: 2%;
  width: 100%;
  height: 100%;
}
  
.profileNav img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
}

.editProfile {
  display: flex;
  border-radius: 15px;
  background-color: white;
  margin-top: 2%;
  width: 100%;
  word-wrap: break-word;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.editProfileData {
  display: flex;
}

.editProfile img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding-bottom: 1%;
}

.editText {
  width: 30%;
}

.editProfile textarea {
  width: 70%;
  height: 100%;
  resize: none;
}

.profilePosts {
  margin-top: 2%;
  background-color: white;
  border-radius: 15px;
  padding: 3%;
}


.editPicture {
  padding-bottom: 5%;
  margin-left: 5%;
}

.editPicture p {
  font-size: 120%;
  margin: 0;
  margin-bottom: 7%;
}

.editPicture a {
  color: rgb(68, 68, 255);
  font-weight: 600;
}

a:hover {
  cursor: pointer;
}

.edit {
  display: flex;
  padding-bottom: 2%;
}


.editProfile button {
  background-color: white;
  border: 1px solid #555555;
  border-radius: 5px;
  width: 30%;
}

.profileOptions {
  padding-left: 5%;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.profileOptions button {
  font-size: small;
  background-color: gray;
  padding: 0;
  margin: 0;
  width: 40%;
  height: 100%;
}

.description {
  margin-top: 15%;
  width: 90%;
}

.createPost {
  display: flex;
  background-color: white;
  width: 100%;
  margin-top: 2%;
  border-radius: 15px;
  padding: 1%;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

div.text {

    font-family: 'Press Start 2P';
    color: #FFFFFF;
    text-align: center;
}

.errorBody {
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='58' viewBox='0 0 42 58'%3E%3Cg fill='%23dddcdd' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M12 18h12v18h6v4H18V22h-6v-4zm-6-2v-4H0V0h36v6h6v36h-6v4h6v12H6v-6H0V16h6zM34 2H2v8h24v24h8V2zM6 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM2 50h32v-8H10V18H2v32zm28-6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm0-8a2 2 0 1 0 0 4 2 2 0 0 0 0-4z'/%3E%3C/g%3E%3C/svg%3E");
}

section.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    height: 100vh;
}

section.notFound img {
    width: 90%;
}

section.notFound h1 {
    margin-top: -20%;
    color: red;
    font-size: 100px;
}

section.notFound h2 {
    font-size: 50px;
}

div.text {
    height: 50vh;
}

div.text a {
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

div.text a:hover {
    color: red;
    text-decoration: underline; 
}

@media only screen and (max-width: 768px) {
    section.notFound {
        flex-direction: column;
        justify-content: space-around;
    }
    section.notFound div.img img {
        width: 70vw;
        height: auto;
    }
    section.notFound h1 {
        font-size: 50px;
    }
    section.notFound h2 {
        font-size: 25px;
    }
    div.text a:active {
    color: red;
    text-decoration: underline; 
  }
}

button:hover {
  cursor: pointer;
}

.emailSentConfirm {
  margin-top: 20%;
  text-align: center;
}

.emailSentConfirm p {
  font-size: 1.5vw;
}


.roundEditButton {
  position: absolute; 
  background: white; 
  border: none; 
  cursor: pointer;
  font-size: 1.2vw; 
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 0;
  right: 0;
}

.profilePicture {
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.avatar img {
  object-fit: cover;
	box-sizing: border-box;
	border: 4px white solid;
	border-radius: 50%;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
  background-color: white;
}

.noContent {
  text-align: center;
}

.post {
  width: 70%;
  height: fit-content;
  margin-top: 2%;
  margin-right: 3%;
  border-radius: 15px;
  background-color: white;
  padding: 2%;
}

.postTitle:hover {
  text-decoration: underline;
}

.networkEntry:hover {
  text-decoration: underline;
}

.newFollower {
  margin-top: 5%;
  border-radius: 15px;
  background-color: white;
  padding: 4%;
}